.badge {
  --badge-icon-size: 2.25rem;
  --badge-padding: 0.5rem;

  display: grid;
  place-items: center;
  width: calc(var(--badge-icon-size) + (var(--badge-padding) * 2));
  height: calc(var(--badge-icon-size) + (var(--badge-padding) * 2));
  margin-inline: auto;
  border-radius: 50% !important;
  background: #fff;
  color: #111;
  line-height: 0;
  overflow: hidden;
}

.badge.glass {

  &.blue { color: #1770c9 !important; }
  &.green { color: #2c8a59 !important; }
  &.yellow { color: #b86a00 !important; }
  &.orange { color: #c96a17 !important; }
  &.red { color: #d81b60 !important; }
  &.purple { color: #5b43dd !important; }
}