---
layout: plain
---

{%- assign feature = site.data.features | where:"title", page.title | first -%}

<main aria-label="Content">
  <div class="wrapper">
    <article>
      TODO: Feature

      {{ content }}

      {% if feature.docs %}
      <h2>Documentation</h2>
      <p>
        The information on this page is shortened to be easier to overview. For more information, see the <a href="{{site.urls.docs}}">online KeyboardKit documentation</a>.
      </p>
      {% endif %}

      <hr />

      TODO: Features Footer
    </article>
  </div>
</main>